<div class="container__header">
  <div class="header">
    <div class="section__wrapper">
      <div class="icon-burguer"></div>
      <div class="logo-voltio"></div>
      <div class="header-login">
        <li><%= link_to "/login","middleman.html" %></li>
        <li><%= link_to "/register", "#" %></li>
        <li class="icon-notifications">(3)</li>
        <li><div class="icon-shopping-bag"></div></li>
      </div>
    </div>
  </div>
  <nav class="navbar">
    <div class="navbar__links">
      <%= link_to "/phones","#" %>
      <%= link_to "/tablets", "#" %>
      <%= link_to "/computing", "#" %>
      <%= link_to "/watches", "#" %>
      <%= link_to "/photo & video", "#" %>
      <%= link_to "/audio", "#" %>
      <%= link_to "/gadgets", "#" %>
      <%= link_to "/gaming", "#" %>
    </div>
    <div class="navbar__search-bar">
      <form>
        <div class="container__btn-search">
          <input type="submit" class="btn-search" value="">
        </div>
        <div class="container__textbox-search">
          <input type="text" placeholder="_search" class="input-search" >
        </div>
      </form>
    </div>
  </nav>
</div>
