<nav class="navbar">
  <%= link_to "/phones",'#' %>
  <%= link_to "/tablets", '#' %>
  <%= link_to "/computing", '#' %>
  <%= link_to "/watches", '#' %>
  <%= link_to "/photo-video", '#' %>
  <%= link_to "/audio", '#' %>
  <%= link_to "/gadgets", '#' %>
  <%= link_to "/gaming", '#' %>
</nav>